aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
blessed==1.44.0
codefind==0.1.7
colorama==0.4.6
coverage==7.14.1
discord==2.3.2
discord.py==2.7.1
dnspython==2.8.0
docopt==0.6.2
dotenv==0.9.9
frozenlist==1.8.0
idna==3.17
iniconfig==2.3.0
jinxed==2.0.4
jurigged==0.6.1
mongomock==4.3.0
multidict==4.5.0
ovld==0.5.17
packaging==26.2
pluggy==1.6.0
propcache==0.5.2
Pygments==2.20.0
pymongo==4.17.0
pytest==9.0.3
pytest-asyncio==1.4.0
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest-watch==4.2.0
python-dotenv==1.2.2
pytz==2026.2
reloadium==1.5.1
sentinels==1.1.1
table2ascii==1.2.0
typing_extensions==4.15.0
watchdog==6.0.0
wcwidth==0.7.0
yarl==1.24.2
